<nav class="navbar navbar-dark bg-dark text-white">
  <span class="navbar-brand mb-0 h1">World Journey</span>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <sdo-ngx-tss-tr [values]="regions$ | async"
                        [label]="'Region'"
                        (selected)="loadCountries($event)"></sdo-ngx-tss-tr>
      </div>
    </div>

    <div class="col">
      <div class="jumbotron">
        <sdo-ngx-tss-tr [values]="getCountriesArrayByRegion(region)"
                        [label]="'Country'"
                        (selected)="loadCountry($event)"></sdo-ngx-tss-tr>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="country">
    <div class="col">
      <app-country-details [country]="country"></app-country-details>
    </div>
  </div>
</div>
